table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

.arrow {
  font-size: 0.7em;
}

.filter-row input {
  width: 100%;
}
